*{margin: 0; padding: 0;}

/*algemeen*/

body {
    background-image: url(achtergrondhome.jpg);
    opacity: 0.9;
}
h1 {
    font-size: 50pt;
    text-align:center;
    padding: 18px 0 18px 0;
    }
h2 {
    font-size: 26pt;
    text-align:center;
    padding: 18px 0 18px 0;
    }

/*Grid*/

.grid-container {
    display: grid;
    grid-template-columns: 300px auto 150px;
    grid-template-rows: 120px 80px auto 80px 120px;
}
.grid-container > div {
    text-align: center;
}
.item1 {
    grid-column: 1 / span 3;
}
.item2 {
    grid-column: 1 / span 3;
}
.item3 {
    background-color: gainsboro;
}
.item4 {
    background-color: gainsboro;
}
.item5 {
    background-color: gainsboro;
}
.item6 {
    grid-column: 1 / span 3;
}
.item7 {
    grid-column: 1 / span 3;
    background-color: gainsboro;
}

/*nav bar*/

ul {
    list-style: none;
    margin: 0;
    padding-left: 10%;
    overflow: hidden;
    background-color: gainsboro;
    }
li {
    float: left;
}

li a{
    display: block;
    background-color:gainsboro;
    color:black;
    font-size: 26px;
    text-align: center;
    padding: 44px;
    text-decoration: none;
}
li a:hover{
    opacity: 0.2;
}

/*blog invoeren*/

input[type=text] {
    width: 500px;
    padding: 5px;
    font-size: 12pt;
    border: 3px solid grey;
}
input[type=e-mail] {
    width: 500px;
    padding: 5px;
    font-size: 12pt;
    border: 3px solid grey;
}
#blog  {
    width: 500px;
    padding: 5px;
    height: 400px;
    font-size: 12pt;
    border: 3px solid grey;
}

input[type=submit] {
    background-color: #4CAF50;
    color: black;
    font-family: sans-serif;
    font-size: 26px;
    width: 150px;
    height: 50px;
    padding:12px;
    border: 3px solid grey;
    border-radius: 4px;
    cursor: pointer;
}
input[type=onderwerp] {
    width: 62%;
    height: 300px;
    font-family: sans-serif;
    font-size: 12pt;
    border: 3px solid grey;
    
}
input[type=submit]:hover {
    background-color: darkgreen;
    color: azure;
}

/*blog uitvoeren*/

.blog {
    border-bottom: 3px solid grey;
}

/*footer*/

footer {
clear: both;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-family: cursive;
    font-size: 15px;    
    display: block;
    width: auto;
    height: 80px;
    background-color: gainsboro;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 6px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
    background-image: 
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
    

